*{ 
 margin:0px;
 padding:0px;
 box-sizing:border-box;
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 -webkit-font-smoothing:antialiased;
 -moz-font-smoothing:antialiased;
 -o-font-smoothing:antialiased;
 font-smoothing:antialiased;
 text-rendering:optimizeLegibility;
}

body{ background-image: url(../pic/body.jpg);
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat; 
      font-family: Multicolore;
      line-height:2.0;
      color:white;}

header a { color:white;
           text-decoration:none;             
           font-size:24px;}
header a:link, header a:visited{ color: white; }

header p{ text-align:right;
          margin:-120px 10px 0px 0px; }

header p a{ font-size:20px; }
header p a:link, header a:visited{ color: white; }
header p a:hover{color:black;}

header a h1{ margin-top:-20px;
             text-indent:5px;
             font-family:Segoe Print;
             font-size:50px; }

button#submit{ position : absolute;
                     top : 6pt;
                     left : 380pt;
                     height : 15pt; 
                     border-radius :10pt;
                     background-color : white;
                     border : 0;}

      #searchtextbox{ width : 300pt;
                      height : 21pt;
                      margin : 3pt 2pt 0pt 100pt;
                      border-radius :10pt;}

      #formsearch{ position : absolute;
                   top : 35pt;
                   left : 290pt;}

nav{ background:black;
     border-radius :15pt;
     text-indent: -20px;
     color:white;
     opacity:0.8;
     text-align: center;
     width:720px;
     padding:5px;
     margin: 0px auto 0 auto;}

nav li{ display:inline-block;
        padding-left: 65px; }

nav li a{ text-decoration : none;
          font-size:20px;}
nav li a:link,nav li a:visited{ color: white; }
nav li a:hover{ color: black;
                background:white;}


aside, section, footer{ margin:3px;}
aside, aside.right{ padding:10px;
                    line-height:2.5;
                    background: black;
                    opacity:0.8;
                    color:white;
                    border-radius :10px;
                    width:18%;
                    height:auto;
                    float:left;}

aside ul, aside ul li ul{ text-indent:10px;
                        list-style:none; } 
      
aside ul li{ font-size: 15px;}
aside ul li ul li{display:none; font-size: 12px;}   
aside ul li a, aside.right a{ text-decoration:none;       
             color:white;

        }
aside ul li a:hover,aside.right a:hover{ color:darkgrey;}

aside ul li ul li a{ color:turquoise;}

aside ul li ul li:hover a{ color:white;
                           background:none;}

aside ul li:hover ul li{ display:block;}

aside h3 {  font-size: 20px;
            text-align:center;
            border-radius :10px ;
            opacity:0.8;
            background-color: white; 
            color:black;}

aside.right{ float:right; text-align:center;}

aside.right a img#small{width:60px; height:60px;}

aside.right a img#big{
  display:inline-block;
width:100px;
height:100px;
border-radius:50%;
background-repeat: no-repeat;
background-position:center;
background-size:cover;}

section { float:left;
          padding:20px;
          border-radius :10px;
          opacity:0.980;
          background-color: black; 
          color:white;
          width:62.4%;
          height:auto;}
      
section p { text-indent:20px;
            border-radius :10px ;
            opacity:1;
            color:white;}

section p h2{font-size:20pt;}


.here{ text-align:center;
       background:white;
       color:black;
     border-radius:15px;
     opacity:0.8;}
     
.new section button{
        border:1px solid black; 
          font-family:Arial;
      padding:10px;
          font-size:20pt;
      border:1px solid black;
      background:none;
          border-radius:10px;}
.new section button:hover{background:lime;border-radius:10px;}


         
.mo{
width:550px;
height:450px;}

section img.l { width:40px;
                height:40px;}

 footer{ clear:both;
         opacity: 0.8;
         padding:25px;
         border-radius :10px;
         background:black; }

footer p{ font-size:20px;
          font-family:Verdana;
          color:white;
          text-align:center;}

footer i { text-align:center;
           font-size:12pt;
           font-family:Arial;
          }

footer p a { text-decoration : none;}
footer p a:link,footer p a:visited{ color: white; }
footer p a:hover{color:darkgrey;}

.container{
  width:auto;
  margin:auto;
  display:flex;
  justify-content:center;
  font-family:Sans serif;}

 .container .box{

  width:300px;
  height:320px;
  float:left;
  background:lightgrey;
  border:5px solid white;
  margin:20px 20px;
  transition:1s;}

 .container{
  width:auto;
  margin:auto;
  display:flex;
  justify-content:center;
  font-family:Sans serif;}

 .container .box{
  width:300px;
  height:320px;
  background:lightgrey;
  border:5px solid white;
  margin:20px 20px;
  transition:1s;}

 .container .box img{ width:290px;
  height:310px;}

  .container .box:hover{
  transform:scale(1.5);
  box-shadow:2px 2px 2px #000;}

 .container .box .details{
  position:absolute;
  top:25px;
  left:25px;
  bottom:25px;
  right:25px;
  text-align:center;
  background:black;
  opacity:0.8;
  transform:scaleY(0);
  transition:transform .5s;}

  .container .box:hover .details{ transform:scaleY(1);}
  
 .container .box .details .content{
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  text-align:center;
  padding:10px;
  color:white;}
  
   .container .box .details .content h2{
  margin:0;
  padding:0;
  font-size:15px;
  color:#ff0;
 }
 .container .box .details .content p{
  margin:10px 0 0;
  padding:0;
  font-size:10.5pt;
}

#square {
transition :all .8s ease-in-out;
-moz-transition :all .8s ease-in-out;
-webkit-transition:all .8s ease-in-out;
-o-transition :all .8s ease-in-out;
-ms-transition :all .8s ease-in-out;
}

#square:hover {
-moz-transform :rotate(180deg);
-webkit-transform :rotate(180deg);
-o-transform :rotate(180deg);
-ms-transform :rotate(180deg);
transform :rotate(360deg);
}
